*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-container{
    width: 75%;
    margin: auto;
}

/* Utility */

.color-white{
    color: white;
}

.background-dark-blue{
   background-color: rgba(44,62,80,255);
}

.background-fuchsia{
    background-color: fuchsia;
}

.background-light-blue{
    background-color: lightblue;
}

.background-blue{
    background-color: blue;
}

.background-black{
    background-color: black;
}

.background-aquamarine{
    background-color: rgba(26,188,156,255);
}

.background-wheat{
    background-color: wheat;
}

.border-radius-10{
    border-radius: 10px;
}

.width-100{
    width: 100px;
}

.width-150{
    width: 150px;
}

.hr-star{
    opacity: 1;
    border: 2px solid white;
}

/* Temp */

.flex-row{
    display: flex;
}

.height-50{
    height: 50px;
}

.height-200{
    height: 200px;
}

.height-400{
    height: 400px;
}