*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

.my-container{
    width: 75%;
    margin: auto;
}

::placeholder{
    opacity: 1;
    color: black;
}

/* Utility */

.color-white{
    color: white;
}

.color-black{
    color: black;
}

.background-dark-blue{
   background-color: rgba(44,62,80,255);
}

.background-fuchsia{
    background-color: rgba(186,75,99,255);
}

.background-light-blue{
    background-color: rgba(30,164,182,255);
}

.background-blue{
    background-color: rgba(28,131,193,255);
}

.background-blue-footer{
    background-color: rgba(58,84,109,255)
}

.background-blue-a-little-dark{
    background-color: rgba(14,56,181,255);
}

.background-black{
    background-color: rgba(20,15,15,255);
}

.background-aquamarine{
    background-color: rgba(26,188,156,255);
}

.background-wheat{
    background-color: rgba(204,178,163,255);
}

.border-radius-10{
    border-radius: 10px;
}

.width-100{
    width: 100px;
}

.width-150{
    width: 150px;
}

.width-250{
    width: 250px;
}

.width-full{
    width: calc(100%);
}

.hr-star{
    opacity: 1;
    border: 2px solid white;
}

.hr-star-black{
    opacity: 1;
    border: 2px solid black;
}

.margin-top-50{
    margin-top: 50px;
}

.margin-bottom-50{
    margin-bottom: 50px;
}

.input-borders{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}

.green-button{
    width: fit-content;
    background-color: rgba(26,188,156,255);
    border: none;
}

.circle{
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50%;
}

.font-size-10{
    font-size: 10px;
}

/* Misc */

footer a{
    text-decoration: none;
    color: rgba(26,188,156,255);
}