*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-container{
    width: 75%;
    margin: auto;
}

/* Utility */

.color-white{
    color: white;
}

.color-black{
    color: black;
}

.background-dark-blue{
   background-color: rgba(44,62,80,255);
}

.background-fuchsia{
    background-color: rgba(186,75,99,255);
}

.background-light-blue{
    background-color: rgba(30,164,182,255);
}

.background-blue{
    background-color: rgba(28,131,193,255);
}

.background-blue-a-little-dark{
    background-color: rgba(14,56,181,255);
}

.background-black{
    background-color: black;
}

.background-aquamarine{
    background-color: rgba(26,188,156,255);
}

.background-wheat{
    background-color: rgba(204,178,163,255);
}

.border-radius-10{
    border-radius: 10px;
}

.width-100{
    width: 100px;
}

.width-150{
    width: 150px;
}

.width-250{
    width: 250px;
}

.hr-star{
    opacity: 1;
    border: 2px solid white;
}

.hr-star-black{
    opacity: 1;
    border: 2px solid black;
}

.margin-top-50{
    margin-top: 50px;
}

.margin-bottom-50{
    margin-bottom: 50px;
}

/* Temp */

.flex-row{
    display: flex;
}

.height-50{
    height: 50px;
}

.height-200{
    height: 200px;
}

.height-400{
    height: 400px;
}